:root {
    --accent: #00eeff;
    --accent2: #0000ff;
    --accent3: #0099ff;
}

@font-face {
    font-family: Gorb;
    src: url(Pixel\ Georgia\ Bold.ttf);
}

@font-face {
    font-family: SpaceMono;
    src: url(SpaceMono-Regular.ttf);
}

@font-face {
    font-family: Op;
    src: url(DigitalDisco.ttf);
}

@font-face {
    font-family: OpTn;
    src: url(DigitalDisco-Thin.ttf);
}
@font-face {
    font-family: Gorg;
    src: url(Pixel\ Georgia.ttf);
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-family: Op;
    font-size: 60px;
    margin: auto;
    text-align: center;
    color:var(--accent);
    font-weight:100;
}

h2 {
    font-family: OpTn;
    font-size: 35px;
    margin: auto;
    text-align: center;
    color:var(--accent3);
}

p {
    font-family: Gorg;
    font-size: 20px;
}

div {
    margin: none;
}

strong {
    color:var(--accent);
    font-family: Gorg;
    font-weight: bolder;
}

hr {
    color: var(--accent);
}

.verticont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1mimic {
    font-family: Op;
    font-size: 60px;
    margin: auto;
    text-align: center;
    color:var(--accent);
}

.dynamic-pattern {
    width: 100%;
    height: 10vh; /* Example height, can be any value */
    background-color: #000000;
    position: relative;
}

#diveverything {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}